@charset "utf-8";
/* IE CSS Document */

#fis-home {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.fis-ski.com/static/mobile/css/images/FIS_white_home.png',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.fis-ski.com/static/mobile/css/images/FIS_white_home.png',sizingMethod='scale)";
}
.ui-icon,
.ui-icon-searchfield:after {
	background:     rgb(0,56,140)     /*{global-icon-disc}*/;
	background-image:     url(http://www.fis-ski.com/static/mobile/css/images/icons18white.png)     /*{global-icon-set}*/;
}
.ui-icon-home-fis {
	background: rgb(0,56,140);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.fis-ski.com/static/mobile/css/images/FIS_white_36.png',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.fis-ski.com/static/mobile/css/images/FIS_white_36.png',sizingMethod='scale)";
}
.ui-bar-a {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = #6db3f2, endColorstr = #00388C);
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = #6db3f2, endColorstr = #00388C)";
}
.ui-dialog.ui-overlay-a {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = #eee, endColorstr = #ddd);
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = #eee, endColorstr = #ddd)";
}
.ui-btn-up-a {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = #fdfdfd, endColorstr = #eee);
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = #fdfdfd, endColorstr = #eee)";
}
.ui-btn-hover-a {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = #ededed, endColorstr = #dadada);
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = #ededed, endColorstr = #dadada)";
}
.ui-btn-down-a {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = #FCC300, endColorstr = #feeeb8);
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = #FCC300, endColorstr = #feeeb8)";
}
.ui-bar-b {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = #fdecaf, endColorstr = #FCC300);
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = #fdecaf, endColorstr = #FCC300)";
}
.ui-body-b,
.ui-dialog.ui-overlay-b {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = #eee, endColorstr = #ddd);
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = #eee, endColorstr = #ddd)";
}
.ui-btn-up-b {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = #00388C, endColorstr = #6db3f2);
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = #00388C, endColorstr = #6db3f2)";
}
.ui-btn-hover-b {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = #00388C, endColorstr = #6db3f2);
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = #00388C, endColorstr = #6db3f2)";
}
.ui-btn-down-b {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = #00388C, endColorstr = #6db3f2);
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = #00388C, endColorstr = #6db3f2)";
}
.ui-bar-c {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = #f0f0f0, endColorstr = #e9eaeb);
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = #f0f0f0, endColorstr = #e9eaeb)";
}
.ui-dialog.ui-overlay-c {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = #eee, endColorstr = #ddd);
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = #eee, endColorstr = #ddd)";
}
.ui-btn-up-c {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = #feeeb8, endColorstr = #FCC300);
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = #feeeb8, endColorstr = #FCC300)";
}
.ui-btn-hover-c {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = #FCC300, endColorstr = #feeeb8);
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = #FCC300, endColorstr = #feeeb8)";
}
.ui-btn-down-c {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = #FCC300, endColorstr = #feeeb8);
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = #FCC300, endColorstr = #feeeb8)";
}
.ui-bar-d {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#f2f2f2');
	-ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#f2f2f2');
}
.ui-dialog.ui-overlay-d {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#f2f2f2');
	-ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#f2f2f2');
}
.ui-btn-up-d {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#feeeb8', endColorstr = '#FCC300');
	-ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#feeeb8', endColorstr = '#FCC300');
}
.ui-btn-hover-d {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#FCC300', endColorstr = '#feeeb8');
	-ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#FCC300', endColorstr = '#feeeb8');
}
.ui-btn-down-d {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#FCC300', endColorstr = '#feeeb8');
	-ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#FCC300', endColorstr = '#feeeb8');
}

.ui-btn-active {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = #6db3f2, endColorstr = #00388c);
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = #6db3f2, endColorstr = #00388c)";
}
.ui-icon-home-fis {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.fis-ski.com/static/mobile/css/images/FIS_white_36.png',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.fis-ski.com/static/mobile/css/images/FIS_white_36.png',sizingMethod='scale)";
}
.ui-icon-pdf {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.fis-ski.com/static/mobile/css/images/pdf_white.png',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.fis-ski.com/static/mobile/css/images/pdf_white.png',sizingMethod='scale)";
}
.ui-icon-loading {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.fis-ski.com/static/mobile/css/images/ajaxloader.png',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.fis-ski.com/static/mobile/css/images/ajaxloader.png',sizingMethod='scale)";;
}
.footer{
	/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZkYjNmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDM4OGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);	
	background: #00388C;*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#00388c',GradientType=0 );
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = #6db3f2, endColorstr = #00388c)";



}
.result p{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#cccccc, endColorstr=#999999,GradientType=0 ); /* IE6-9 */
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = #cccccc, endColorstr = #999999)";
}
/* plus minus */
.ui-icon-plus {
	background-position-x: 	-0;
	-ms-background-position-x: 	-0;
}
.ui-icon-minus {
	background-position-x: 	-36px;
	-ms-background-position-x: 	-36px;
}

/* delete/close */
.ui-icon-delete {
	background-position-x: 	-72px;
	-ms-background-position-x: 	-72px;
}

/* arrows */
.ui-icon-arrow-r {
	background-position-x: 	-108px;
	-ms-background-position-x: 	-108px;
}
.ui-icon-arrow-l {
	background-position-x: 	-144px;
	-ms-background-position-x: 	-144px;
}
.ui-icon-arrow-u {
	background-position-x: 	-180px;
	-ms-background-position-x: 	-180px;
}
.ui-icon-arrow-d {
	background-position-x: 	-216px;
	-ms-background-position-x: 	-216px;
}

/* misc */
.ui-icon-check {
	background-position-x: 	-252px;
	-ms-background-position-x: 	-252px;
}
.ui-icon-gear {
	background-position-x: 	-288px;
	-ms-background-position-x: 	-288px;
}
.ui-icon-refresh {
	background-position-x: 	-324px;
	-ms-background-position-x: 	-324px;
}
.ui-icon-forward {
	background-position-x: 	-360px;
	-ms-background-position-x: 	-360px;
}
.ui-icon-back {
	background-position-x: 	-396px;
	-ms-background-position-x: 	-396px;
}
.ui-icon-grid {
	background-position-x: 	-432px;
	-ms-background-position-x: 	-432px;
}
.ui-icon-star {
	background-position-x: 	-468px;
	-ms-background-position-x: 	-468px;
}
.ui-icon-alert {
	background-position-x: 	-504px;
	-ms-background-position-x: 	-504px;
}
.ui-icon-info {
	background-position-x: 	-540px;
	-ms-background-position-x: 	-540px;
}
.ui-icon-home {
	background-position-x: 	-576px;
	-ms-background-position-x: 	-576px;
}
.ui-icon-search,
.ui-icon-searchfield:after {
	background-position-x: 	-612px;
	-ms-background-position-x: 	-612px;
}
.ui-icon-checkbox-off {
	background-position-x: 	-684px;
	-ms-background-position-x: 	-684px;
}
.ui-icon-checkbox-on {
	background-position-x: 	-648px;
	-ms-background-position-x: 	-648px;
}
.ui-icon-radio-off {
	background-position-x: 	-756px;
	-ms-background-position-x: 	-756px;
}
.ui-icon-radio-on {
	background-position-x: 	-720px;
	-ms-background-position-x: 	-720px;
}